<div
  class="bg-white flex flex-col rounded overflow-hidden shadow-md hover:scale-[1.01] transition-all relative"
>
  <a href="javascript:void(0)" class="block">
    <div class="w-full">
      <img
        [src]="photo"
        alt="Product-1"
        class="w-full aspect-[18/24] object-cover object-top"
      />
    </div>
    <div class="flex items-center justify-between p-4 px-5">
      <h5
        class="text-sm sm:text-base font-semibold text-slate-900 line-clamp-2"
      >
        Lexicon Luxe
      </h5>
        <p class="text-sm sm:text-base font-semibold text-slate-900">{{price | currency}}</p>
    </div>
  </a>
        <!--RATING  -->
  <ng-content select="[card-rating]" />

  <div class="min-h-[50px] p-4 !pt-0">
    <button
      type="button"
      class="mx-auto text-sm px-2 py-2 font-medium w-full bg-blue-700 hover:bg-blue-800 text-white tracking-wide outline-none border-none rounded"
    >
      Add to cart
    </button>
  </div>
</div>
