<!-- NAV WRAPPER -->
<div class="sticky top-0 z-50 w-full bg-white">
  <!-- 1. TOP BAR (Always Visible) -->
  <nav class="shadow-md relative p-4 z-20">
    <div class="flex items-center justify-between px-2">
      <div class="flex items-center gap-5">
        <a routerLink="home">
          <img [src]="logoPath" class="h-10" alt="Logo" />
        </a>
        <button
          class="flex items-center"
          (click)="toggleIsMenuOpen()"
          aria-label="Toggle Menu"
        >
          <mat-icon class="icon-size font-medium">{{ matIcon() }}</mat-icon>
        </button>
      </div>

      <div class="flex items-center gap-6">
        <app-cart-icon [matBadgeSize]="'small'" [itemsCount$]="itemsCount$" />
      </div>
    </div>
  </nav>

  <!-- 2. MOBILE MENU OVERLAY -->
  <div class="mobile-menu-overlay bg-gray-100" [class.is-open]="isMenuOpen()">
    <div class="p-4 pt-20">
      <app-search-bar 
      (search)="onSearch($event)"
      />

      <ul class="flex flex-col gap-4 mt-6">
        <li
          (click)="onShowAll()"
          class="py-2 px-3 text-dark tracking-wide hover:text-blue-600 cursor-pointer text-xl"
        >
          all
        </li>
        <li
          (click)="onShowBestsellers()"
          class="py-2 px-3 text-dark tracking-wide hover:text-blue-600 cursor-pointer text-xl"
        >
          bestsellers
        </li>
        @for(category of (categories$ | async); track category.id) {
        <li
          (click)="onCategoryClick(category.id)"
          class="py-2 px-3 text-dark tracking-wide hover:text-blue-600 cursor-pointer text-xl"
        >
          {{ category.name }}
        </li>
        }
      </ul>
    </div>
  </div>
</div>
