              @if((summary$ | async); as summary) {
              <div class="bg-white rounded-md px-4 py-6 h-max shadow-sm border border-gray-200">
                  <ul class="text-slate-500 font-medium space-y-4">
                      <li class="flex flex-wrap gap-4 text-sm">Subtotal <span class="ml-auto font-semibold text-slate-900">{{ summary.subtotal | currency:'USD'}}</span></li>
                      <li class="flex flex-wrap gap-4 text-sm">Shipping <span class="ml-auto font-semibold text-slate-900">{{ summary.shipping | currency:'USD'}}</span></li>
                      <li class="flex flex-wrap gap-4 text-sm">Tax <span class="ml-auto font-semibold text-slate-900">{{ summary.tax | currency:'USD'}}</span></li>
                      <hr class="border-slate-300" />
                      <li class="flex flex-wrap gap-4 text-sm font-semibold text-slate-900">Total <span class="ml-auto">{{ summary.totalPrice | currency:'USD'}}</span></li>
                  </ul>
                  <div class="mt-8 space-y-4">
                      <button type="button" class="text-sm px-4 py-2.5 w-full font-medium tracking-wide bg-slate-800 hover:bg-slate-900 text-white rounded-md cursor-pointer"
                      (click)="onBuyNow()"
                      routerLink="home"
                      >Buy Now</button>
                      <button type="button" class="text-sm px-4 py-2.5 w-full font-medium tracking-wide bg-slate-50 hover:bg-slate-100 text-slate-900 border border-gray-300 rounded-md cursor-pointer"
                      routerLink="home"
                      >Continue Shopping</button>
                  </div>
                  
              </div>

            }