<nav class="flex items-center justify-between bg-gray-100 py-2 px-4 md:gap-2 lg:gap-10 rounded-xl shadow">
  <a href="https://flowbite.com/">
    <img
      src="https://flowbite.com/docs/images/logo.svg"
      class="h-8"
      alt="Logo"
    />
  </a>


  <ul class="flex md:gap-2 lg:gap-10">
    @for(category of (categories$ | async); track category.id) {
    <li class="py-2 px-3 font-medium tracking-wider text-gray-900 hover:text-blue-700 cursor-pointer">
      {{ category.name }}
    </li>
    }
  </ul>

  <app-search-bar class="flex-1"/>
  <app-cart-icon [matBadgeSize]="'medium'"/>
</nav>
