<nav
  class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md flex items-center justify-between py-2 px-4 md:gap-2 lg:gap-10  shadow-md"
>
  <a routerLink="home">
    <img
      [src]="logoPath"
      class="h-12"
      alt="Logo"
    />
  </a>

  <ul class="flex md:gap-2 lg:gap-10">
    <li
      class="py-2 px-3 font-medium tracking-wider text-gray-900 hover:text-blue-700 cursor-pointer"
      (click)="onShowAll()"
    >
      all
    </li>
    <li
      class="py-2 px-3 font-medium tracking-wider text-gray-900 hover:text-blue-700 cursor-pointer"
      (click)="onShowBestsellers()"
    >
      bestsellers
    </li>

    @for(category of (categories$ | async); track category.id) {
    <li
      class="py-2 px-3 font-medium tracking-wider text-gray-900 hover:text-blue-700 cursor-pointer"
      (click)="onCategoryClick(category.id)"

    >
      {{ category.name }}
    </li>
    }
  </ul>

  <app-search-bar class="flex-1" />
  <app-cart-icon [matBadgeSize]="'medium'" [itemsCount$]="itemsCount$"/>
</nav>
