/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 overflow: hidden; 
  height: 100%;}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.menu-is-open {
  overflow: hidden;
}

//utils
.icon-size {
  font-size: clamp(28px, 2.5vw, 30px) /* 30px */;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
