@if(isMoblieView()) {

    <app-mobile-nav 
[categories$]="categories$" 
[itemsCount$]="itemsCount$"
(showAllClicked)="onShowAll()"
(showBestsellersClicked)="onShowBestsellers()"
(categoryClicked)="onShowCategory($event)"
(search)="onSearch($event)"
>
</app-mobile-nav>

} @else {

    <app-desktop-nav 
[categories$]="categories$"
[itemsCount$]="itemsCount$"
(showAllClicked)="onShowAll()"
(showBestsellersClicked)="onShowBestsellers()"
(categoryClicked)="onShowCategory($event)"
(search)="onSearch($event)"
> 
</app-desktop-nav>
}

